.container{
  border : 2px solid gray;
  margin-bottom: 70px;
}

.item{
  border : 2px solid black;
  height: 100px;
  width: 100px;
}

#item1{
  background-color: antiquewhite;
  float: right;
}
#item2{
  background-color: aqua;
}
#item3{
  background-color: brown;
}
#item4{
  background-color: dimgray;
}

#item5{
  background-color: antiquewhite;
  float: right;
}
#item6{
  background-color: aqua;
  float: right;
}
#item7{
  background-color: brown;
  float: right;
}
#item8{
  background-color: dimgray;
  float: right;
}

#item9{
  background-color: antiquewhite;
  float: left;
}
#item10{
  background-color: aqua;
}
#item11{
  background-color: brown;
}
#item12{
  background-color: dimgray;
}